{% extends 'myShop/basic.html' %}
{% block title %} Its a about page{% endblock %}
{% block css %}
.col {
    width: 30%;
    height:300px;
}

.form-group {
    margin-bottom: 1rem;
    width: 600px;
}
{% endblock %}
{% block body %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Contact Us</h1>
      <p class="lead my-3">My team always avaliable for you, it works 24*7 you contact any time I reply your question as soon as possible.</p>
    </div>
  </div>
<div class="container mx-4 row">
    <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Contact Information</strong>
          <h5 >Address</h5>
          <p class="card-text mb-auto">Krishna Enginnering College Ghaziabad, Mohan Nagar near to hindon airforce</p>
        <h5 >Contact Number</h5>
          <p class="card-text mb-auto">We contact on cellphone +918174856744 and +918004974418</p>
    </div>

        <div class="p-4 d-flex flex-column position-static">
                <form action="/myShop/contact/" method="post"> {% csrf_token %}
              <div class="form-group">
                  <h4>Contact Us</h4>
                <label for="inputName">Name</label>
                <input type="name" class="form-control" id="name" name="name" placeholder="Enter your name">
              </div>
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email">
              </div>
              <div class="form-group">
                <label for="inputPhone">Phone</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
              </div>
              <div class="form-group">
                <label for="inputDesc">How we help you ?</label>
                <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
              </div>
                    <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
</div>
{% endblock %}
{% block js %}
<script>


  {% if thanks %}
    alert('thnaks your precious responce saved');
    document.location = "/myShop";
  {% endif %}
</script>
{% endblock %}